<div class="container my-4">
  <h1>Calculator</h1>
  <form (submit)="onCalc()">
      <div class="form-group">
        <label for="num1">First number:</label>
        <input [(ngModel)]="num1" name="num1" type="number" id="num1" class="form-control">
      </div>
      <div class="form-group">
        <label for="operation">Operation:</label>
        <select [(ngModel)]="operation" name="operation" id="operation" class="form-control">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
      </div>
      <div class="form-group">
        <label for="num2">Second number:</label>
        <input [(ngModel)]="num2" name="num2" type="number" id="num2" class="form-control">
      </div>
      <h2>Result: {{result}}</h2>
      <button class="btn btn-primary mt-3">Calc</button>
  </form>

</div>

