<div class="container my-4">
  <h1>To-Do List</h1>
  <div class="row">
    <div class="col-md-6">
      <form class="my-4" (submit)="onTaskAdd()">
        <div class="form-group">
          <label for="name">Title:</label>
          <input [(ngModel)]="newTask.title" type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea [(ngModel)]="newTask.description" name="description" id="description" rows="3"
            class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="priority">Priority:</label>
          <select [(ngModel)]="newTask.priority" name="priority" id="priority" class="form-control">
            <option value="0">Low</option>
            <option value="1">Medium</option>
            <option value="2">High</option>
          </select>
        </div>
        <button *ngIf="!editState" type="submit" class="btn btn-primary">Add</button>
        <button *ngIf="editState" (click)="editStateOff()" type="button" class="btn btn-primary">Save</button>
      </form>
    </div>
    <div class="col-md-6 mt-3">
      <p>Tasks: {{tasks.length}}</p>
      <div class="list-group">
        <a *ngFor="let item of tasks" [class.done-task]="item.done" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.title}}</h5>
            <small *ngIf="item.priority == 0" class="text-success">Low</small>
            <small *ngIf="item.priority == 1" class="text-warning">Medium</small>
            <small *ngIf="item.priority == 2" class="text-danger">High</small>
          </div>
          <p class="mb-1">{{item.description}}</p>
          <button (click)="onTaskClick(item)" class="btn btn-success mr-2"><i class="fas fa-check"></i></button>
          <button (click)="onTaskEdit(item)" class="btn btn-primary mr-2"><i class="fas fa-edit"></i></button>
          <button (click)="onTaskDelete(item)" class="btn btn-danger mr-2"><i class="fas fa-trash"></i></button>
        </a>
      </div>
      <h2 *ngIf="tasks.length == 0" class="text-danger">Task list is empty!</h2>
    </div>
  </div>
</div>



<!-- <ul class="list-group">
    <li *ngFor="let item of tasks" class="list-group-item">
      <button (click)="onTaskDelete(item)" class="btn btn-danger mr-4">Delete</button>
      {{item.title}}
    </li>
  </ul> -->