<div class="container my-4">
  <h1>Home</h1>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card" >
        <img src="../../assets/calc.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Calculator</h5>
          <a routerLink="calculator" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <img src="../../assets/list.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">To-Do List</h5>
          <a routerLink="todolist" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <img src="../../assets/bus.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">BakuBus</h5>
          <a routerLink="bakubus" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
  </div>
</div>