<div class="container mt-4">
  <h1>BakuBus</h1>
  <div class="form-group">
    <label for="bus">Bus number: </label>
      <select [(ngModel)]="num" class="form-control" id="bus">
          <option value="">ALL</option>
          <option *ngFor="let number of busNumbers" value="{{number}}">{{number}}</option>
        </select>
  </div>
</div>

<agm-map class="mb-4" *ngIf="busses" [styles]="styles" [latitude]="lat" [longitude]="lng" [zoom]="12">
  <agm-marker 
    *ngFor="let item of busses | busNumber:num" 
    [latitude]="item['@attributes'].LATITUDE"
    [longitude]="item['@attributes'].LONGITUDE" 
    [iconUrl]="icon" 
    [title]="item['@attributes'].DISPLAY_ROUTE_CODE">
  </agm-marker>
</agm-map>